body{
   background-color:black;
   background-image: url(../images/background.jpg);
   font-family:helvetica;
   font-size:12px;
}
.main_table{
    background-color:black;
    width:800px;
    margin:2px;
    height:767px;
    border:2px solid #252525;
    color:white;
}

.nav_a{
    color:green;    
    text-decoration:none;
    padding:2px;
    
}
.nav_a:hover{
    color:#25FF00;
    border:1px solid green;
}

.header{
    padding-top:10px;
    font-size:13px;
    color:white;
    font-weight:bold;
}
.menubar {
    position:relative;
    border:1px solid #2B2B2B;
    text-align:left;
    color:#fff;
    padding:3px;
    width:180px;
}
.messagebar {
    position:relative;
    border:1px solid #2B2B2B;
    text-align:left;
    color:#fff;
    padding:1px;
    width:180px;
}
.navbar {
    position:relative;
    border:1px solid #2B2B2B;
    text-align:left;
    color:#fff;
    padding:1px;
    width:180px;
}
.messagebar ul{
    margin:2px;
    padding:0px;
}

.pink_span{
   margin-left:2px;
   color:fuchsia;
}

.violet_span{
   margin-left:2px;
   color: #9930FF;
}
.orange_span{
    color:#F75D00
}
h1{
    color: #9930FF;
    font-size:16px;
    text-align:left;
    margin:5px;
    padding-bottom:5px
    
}

form input{
    border: 0px solid gray;
    background-color:white;;
}

fieldset{
    border:1px solid #363636;
    width:300px;
    margin:5px;
    color:gray;
}
.right_align{
   text-align:right;
}
.left_align{
   text-align:left;
}

form input[type=submit]{
    color:#25FF00;
    border:1px solid green;
    background:transparent;
}
